@import './components/TeamBar.css';

.app {
  text-align: center;
  position: absolute;
  background: #242d34;
  width: 100%;
  height: 100%;
}

.app .appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.app .boardHeader .appDaznLogo {
  width: 10vh;
  height: 10vh;
  margin-top: 20px;
}

.app .whiteLine {

  background: white;
  height: 0.5vh;
  display: block;
}

.app .boardHeader {
  background-color: #242d34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
}

.app .boardHeader .daznTitle {
  width: 93%;
  font-family: Trim,'DAZN-Bold',Oscine;
  font-weight: 700;
  font-size: 4vh;
  color: white;
  letter-spacing: .0em;
  padding: 10px;
}

.app .createTeam {
  background: #242d34;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  margin-bottom: 15px;
}

.app .createTeam .team {
  background: #01FF70;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14vh;
  padding: 5px;
}

.app .createTeam .team .add {
  font-family: Trim,'DAZN-Bold',Oscine;
  font-weight: 40;
  font-size: 10;
}

@font-face {
  font-family: 'DAZN-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/DAZNTrim-Bold.otf');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
