@import './components/TeamBar.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.DAZN-logo {
  width: 10vh;
  padding: 10px;
}

.MainDiv {
  background: #343b3f;
  position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    text-align: center;
    align-items: center;
    transition: all 500ms ease;
}

.DAZN-title {
  font-family: Trim,'Now-Bold',Oscine;
  font-weight: 700;
  font-size: 4vh;
  color: white;
  letter-spacing: .0em;
  padding: 10px;
}

.BoardHeader {
  width: 100%;
  background-color: #343b3f;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.WhiteLine {
  width: 100%;
  background: white;
  height: 1vh;
  display: block;
  
}

@font-face {
  font-family: 'Now-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Now-Bold.otf');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
