.InnovationDiv {
    background: white;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    flex: 0 1 25%;
    flex-basis: 0;
}

.InnovationTitle {
    font-family: Trim,'DAZN-Bold',Oscine;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
}