.innovation {
    background: 	#A9A9A9;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    box-shadow: 2px 3px 8px #000000;
}

.innovation .line {
    background: #f8fc00;
    width: 100%;
    height: 0.8vh;
    display: block;
    align-self: flex-end;
}

.innovation .title-container {
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innovation .title {
    font-family: Trim,'DAZN-Bold',Oscine;
    font-style: bold;
    font-weight: 700;
    font-size: 15px;
    color: black;
}