.InnovationDiv {
    width: 10px;
    height: 2%;
}

.InnovationModal {
    background: #242d34;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 25%;
    height: 40%;
    border-radius: 10px;
}

.ModalTitle {
    font-family: Trim,'DAZN-Bold',Oscine;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    color: #242d34;
    padding: 10px;
    margin-bottom: 20px;
}

.InnovationTitle {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.InnovationDescription {
    padding: 10px;
    margin-bottom: 10px;
}

.ModalActions {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}