@import './Innovation.css';
@import './InnovationModal.css';

.teamBar {
    padding: 5px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.teamBar .titleContainer{
    background:  #f8fc00;
    width: 300px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 2px 3px 8px #000000;
}

.teamBar .titleContainer .title{
    font-family: Trim,'DAZN-Bold',Oscine;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    color: #242d34;
    padding: 10px;
    display: block;
}

.teamBar .innovationContainer {  
  padding-left: 15px;
  padding-right: 30px;
  width: 80%;
  height: 10vh;
  
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10vh, 1fr));
  grid-auto-rows: minmax(10vh, auto);
  grid-gap: 0.5em;
}
