@import './Innovation.css';
@import '../modals/InnovationModal.css';
@import '../modals/DeleteTeamModal.css';
.teamBar {
    padding: 5px;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.teamBar .titleContainer {
    display: flex;
    background: #f8fc00;
    flex-direction: column;
    width: 250px;
    height: 8vh;
    box-shadow: 2px 3px 8px #000000;
}

.teamBar .arrowLeft {
    background: #01FF70;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vh;
    margin-left: 25px;
    height: 3vh;
}

.teamBar .arrowRight {
    background: #01FF70;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vh;
    margin-right: 5px;
    height: 3vh;
}

.teamBar .arrowRight:hover, .teamBar .arrowLeft:hover {
    opacity: 0.8;
}

.teamBar .arrowRight:active, .teamBar .arrowLeft:active {
    box-shadow: 2px 3px 8px #000000;
}

.teamBar .titleContainer .clear {
    align-self: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 2px;
}

.teamBar .titleContainer .title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.teamBar .titleContainer .title .plus {
    padding-right: 5px;
}

.teamBar .titleContainer .title .name {
    font-family: Trim, 'DAZN-Bold', Oscine;
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    color: #242d34;
    margin-left: 10px;
    margin-right: 2px;
}

.teamBar .innovationContainer {
    margin-left: 5px;
    margin-right: 5px;
    width: 80%;
    /* Supports Grid */
    display: grid;
    overflow: hidden;
    grid-auto-rows: minmax(0vh, auto);
}